<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATP's Function Input Form</title>
</head>
<body>
    <h1>ATP's Function Input Form</h1>
    <h2>Function is: a*x^2 + b*x </h2>

    <form action="" method="get">
    <p><h3>x = <input type="text" name="user_input" id=""></h3></p>
    <p><h3>a = <input type="text" name="user_input2" id=""></h3></p>
    <p><h3>b = <input type="text" name="user_input3" id=""></h3></p>
    <input type="submit" value="Submit Values">

</form> 
{% comment %} form needs to close after input {% endcomment %}
{% comment %} if html, then TAB works else Django Template {% endcomment %}

{% if value_of_F %}
    <h1>Function = {{value_of_F}}</h1>
    {% endif %}

{% if previous_value_of_F %}
    <h2>Previous Function = {{previous_value_of_F}}</h2>
{% endif %}

</body>
</html>